.ht-active-checkbox{
	width:18px!important; 
	height:18px!important; 
	background-image:url(../img/checkOff.png);
	float:left;
	margin-right:4px;
}
.ht-active-checkbox input{
	display: none;
}
.ht-active-checkbox-on{
	width:18px; 
	height:18px;
	background-image:url(../img/checkOn.png);
	float:left;
	margin-right:4px;
}
.ht-active-checkbox-on input{
	display: none;
}

.form-group input {
	height:36px;
	line-height:36px;
	padding-top:0px;
}

.ht-create-btn-120{
	width:120px;
}
.ht-create-btn-170{
	width:170px;
}
.ht-create-bth-color3{
	background-color:#22cfdf!important;
	color:#ffffff!important;
	font-size:16px;
	border: none;
	border-radius:40px;
}	
.ht-create-bth-color2{
	background-color:#12aaeb!important;
	color:#ffffff!important;
	font-size:16px;
	border: none;
	border-radius:40px;
}
.ht-create-bth-color1{
	background-color:#76d828!important;
	color:#ffffff!important;
	font-size:16px;
	border: none;
	border-radius:40px;
}
.ht-create-bth-color3:hover{
	background-color:#00b3c3!important;
}	
.ht-create-bth-color2:hover{
	background-color:#0088c2!important;
}
.ht-create-bth-color1:hover{
	background-color:#4dac01!important;
}		
.ht-create-option-margin{
	margin-left:30px!important;margin-left:30px!important;margin-top: 40px;margin-right: 30px;
}
.ht-create-option-margin .title{
	font-size: 24px;margin-bottom: 15px !important;border-bottom: 1px dashed #E5E5E5;padding-bottom: 20px;
}
.ht-create-select{
	width:150px!important;
}
.ht-create-margin-left-10{
	margin-left: 10px!important;
}
.ht-create-margin-right-10{
	margin-right: 10px!important;
}
.ht-heihgt-32{
	height:32px;
}
.ht-create-margin-top-8{
	margin-top:8px;
}
.ht-create-img-load{
	opacity:0.8;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	line-height:137px;
	font-size: 18px;
	font-weight: 700;
	background-color: #000;
	color:#FFF;
}
